<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-document-heading" data-cy="DocumentCreateUpdateHeading" jhiTranslate="dmsApp.document.home.createOrEditLabel">
        Create or edit a document
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group col-6">
          <label class="form-control-label" for="field_docType">Documnet Type</label>
          <select (change)="onChange($event)" class="form-control" formControlName="metaDataHeaderId">
            <option [value]="0">-</option>
            <option [value]="doctype.id" *ngFor="let doctype of docTypes">
              {{ doctype.docTitle }}
            </option>
          </select>
        </div>

        <div class="form-group col-6" *ngFor="let metaitem of metaData">
          <div *ngIf="metaitem.fieldType == 'String'">
            <label class="form-control-label" for="text"> {{ metaitem.fieldName }} </label>

            <input
              type="text"
              class="form-control"
              [name]="metaitem.fieldType"
              [formControlName]="metaitem.fieldName! + '-' + metaitem.id + '-fieldName'"
            />
          </div>
        </div>

        <div class="form-group col-6" *ngFor="let metaitem of metaData">
          <div *ngIf="metaitem.fieldType == 'Number'">
            <label class="form-control-label" for="text"> {{ metaitem.fieldName }} </label>

            <input
              type="number"
              class="form-control"
              [name]="metaitem.fieldType"
              [formControlName]="metaitem.fieldName! + '-' + metaitem.id + '-fieldName'"
            />
          </div>
        </div>

        <div class="form-group col-6" *ngFor="let metaitem of metaData">
          <div *ngIf="metaitem.fieldType == 'Date'">
            <label class="form-control-label" for="text"> {{ metaitem.fieldName }} </label>
            <input
              type="date"
              class="form-control"
              [name]="metaitem.fieldType"
              [formControlName]="metaitem.fieldName! + '-' + metaitem.id + '-fieldName'"
            />
          </div>
        </div>
      </div>

      <div class="form-group col-6">
        <label class="form-control-label" for="field_browse">Upload File Here</label>
        <input type="file" class="file-upload" onchange="console.log(event.target.files)" />
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
