<div id="page-heading" class="row">
  <div class="col-10">
    <span>Document</span>
    <span> >> Document Mapping <small></small></span>
  </div>

  <div class="col-2 d-flex justify-content-end">
    <button
      type="button"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      class="btn btn-primary btn-sm"
      [disabled]="editForm.invalid || isSaving"
      [title]="saveBtnTitleChange()"
      (click)="save()"
    >
      <fa-icon icon="save"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.save">Save</span>
    </button>
    <span style="width: 5px"></span>
    <button type="button" id="cancel-save" class="btn btn-primary btn-sm" (click)="previousState()">
      <fa-icon icon="plus"></fa-icon>
      <span class="d-none d-md-inline">New</span>
    </button>
  </div>
</div>

<div id="page-heading" style="padding-bottom: 10px">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" autocomplete="off">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
      <div class="col-3">
        <div *ngIf="isDocMap" class="tab-header-select" (click)="showDocMap()">
          <fa-icon icon="angle-down" (click)="showDocMap()"></fa-icon>&nbsp;<span>Meta Data Information</span>
        </div>

        <div *ngIf="!isDocMap" class="tab-header" (click)="showDocMap()">
          <fa-icon icon="angle-right" (click)="showDocMap()"></fa-icon>&nbsp;<span>Meta Data Information</span>
        </div>
      </div>

      <div class="col-4">
        <div class="div-tab" *ngIf="isUploadDetail" class="tab-header-select" (click)="showUploadDetails()">
          <fa-icon icon="angle-down" (click)="showUploadDetails()"></fa-icon>&nbsp;<span>Document Upload Details</span>
        </div>

        <div *ngIf="!isUploadDetail" class="tab-header" (click)="showUploadDetails()">
          <fa-icon icon="angle-right" (click)="showUploadDetails()"></fa-icon>&nbsp;<span>Document Upload Details</span>
        </div>
      </div>
    </div>

    <div id="docMapping">
      <div *ngIf="isDocMap" id="search-area" class="col-12">
        <div class="form-group row col-6" [hidden]="editForm.get('id')!.value == null">
          <div class="col-1">
            <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          </div>
          <div class="col-4">
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        </div>

        <div class="row col-12">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="dmsApp.document.docTitle" for="field_docType">Documnet Template</label>
            <span class="text-danger">*</span>
            <select (change)="onDocTemplateChange($event)" class="form-control" formControlName="metaDataHeaderId">
              <option [value]="doctype.id" *ngFor="let doctype of docTypes">
                {{ doctype.docTitle }}
              </option>
            </select>
          </div>

          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="dmsApp.document.message" for="text">Message </label>
            <input type="text" class="form-control" name="message" formControlName="message" />
          </div>
        </div>

        <div class="row col-12" *ngFor="let metaitem of metaData">
          <div class="form-group col-6" *ngIf="metaitem.fieldType == 'String'">
            <label class="form-control-label" for="text"> {{ metaitem.fieldName }} </label>
            <span *ngIf="metaitem.isRequired == 'YES'" class="text-danger">*</span>

            <input
              type="text"
              class="form-control"
              [name]="metaitem.fieldName"
              [formControlName]="metaitem.fieldName! + '_' + metaitem.id + '_fieldName'"
            />
          </div>

          <div class="form-group col-6" *ngIf="metaitem.fieldType == 'Number'">
            <label class="form-control-label" for="text">
              {{ metaitem.fieldName }} <span *ngIf="metaitem.isRequired == 'YES'" class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              [name]="metaitem.fieldName"
              [formControlName]="metaitem.fieldName! + '_' + metaitem.id + '_fieldName'"
            />
          </div>

          <div class="form-group col-6" *ngIf="metaitem.fieldType == 'LOV'">
            <label class="form-control-label" for="text">
              {{ metaitem.fieldName }} <span *ngIf="metaitem.isRequired == 'YES'" class="text-danger">*</span></label
            >
            <select class="form-control" [formControlName]="metaitem.fieldName! + '_' + metaitem.id + '_fieldName'">
              <option [value]="f_value" *ngFor="let f_value of getFieldValues(metaitem.fieldValue)">
                {{ f_value }}
              </option>
            </select>
          </div>

          <div class="form-group col-3" *ngIf="metaitem.fieldType == 'Date'">
            <label class="form-control-label" for="text">
              {{ metaitem.fieldName }} <span *ngIf="metaitem.isRequired == 'YES'" class="text-danger">*</span></label
            >
            <input
              type="date"
              class="form-control"
              [name]="metaitem.fieldName"
              [formControlName]="metaitem.fieldName! + '_' + metaitem.id + '_fieldName'"
            />
          </div>
        </div>
      </div>
    </div>

    <div id="uploadDetail">
      <div id="search-area" *ngIf="isUploadDetail" class="col-12">
        <div class="row col-12">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="dmsApp.document.repositoryURL" for="text"> Repository URL </label>
            <div class="input-group col-12" style="padding: 0px !important">
              <input
                type="text"
                readonly
                placeholder="Repository"
                formControlName="reposistory"
                class="form-control input-sm"
                style="background: white"
                (click)="searchRepository()"
              />
              <div class="input-group-append">
                <span class="input-sm input-btn-primary" (click)="searchRepository()">
                  <fa-icon icon="search"></fa-icon>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <label class="form-control-label" for="text">&nbsp;</label>
            <form enctype="multipart/form-data">
              <fieldset>
                <div class="form-group">
                  <button class="btn btn-primary btn-sm" (click)="checkRepositoryURL(inputFileElement)">
                    <fa-icon icon="upload"></fa-icon>
                    <span class="d-none d-md-inline">Choose Files</span>
                  </button>
                  <input #inputFileElement type="file" (change)="onUploadFiles($event)" name="files" multiple />
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="form-group" style="padding: 8px !important; overflow-x: auto">
          <table class="table" formArrayName="docList1">
            <thead>
              <tr>
                <th class="text-center" style="width: 25%">Repository URL</th>
                <th class="text-center" style="width: 20%">File Name</th>
                <th class="text-center" style="width: 10%">File Size (KB)</th>
                <th class="text-center" style="width: 5%">Version<span>&nbsp;*</span></th>
                <th class="text-center" style="width: 30%">Remark</th>
                <th class="text-center" style="width: 5%">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of docList1().controls; last as isLast; let i = index" [formGroupName]="i">
                <td>
                  <input type="text" class="col-12 form-control" placeholder="filePath" formControlName="filePath" readonly />
                </td>
                <td>
                  <input
                    type="text"
                    class="col-12 form-control"
                    placeholder="fileName"
                    formControlName="fileName"
                    [readonly]="item.get(['id'])!.value != null"
                  />
                </td>
                <td>
                  <input type="number" class="col-12 form-control" placeholder="filesize" formControlName="fileSize" readonly />
                </td>
                <td>
                  <input type="number" class="col-12 form-control" placeholder="version" formControlName="version" />
                </td>
                <td>
                  <input type="text" class="col-12 form-control" placeholder="remark" formControlName="remark" />
                </td>
                <td style="padding-left: 10px">
                  <span title="Remove" (click)="removeField(i)">
                    <fa-icon icon="minus" class="fa-icon-theme text-danger"></fa-icon>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
