<div
  tabindex="0"
  class="main-component"
  [ngClass]="{ readonly: isReadonly }"
  [style.pointer-events]="isReadonly ? 'none' : 'auto'"
  (click)="onClick($event)"
>
  <span tabindex="-1" class="dropdown-btn" (click)="selectDepartment()" (focusout)="emitData()">
    <span *ngIf="departments?.length == 0" class="placeholder">{{ placeholder }}</span>
    <span *ngFor="let item of departments" class="selected-item-container">
      <span class="selected-item">
        <span>{{ item.departmentName }}</span>
        <a *ngIf="!isReadonly" style="padding-left: 2px; color: white" (click)="onRemoveItem($event, item)">X</a>
      </span>
    </span>
  </span>
</div>
