<div class="modal-header bg-primary text-white">
  <div class="col-10" id="dms-modal-title">
    <span jhiTranslate="global.menu.definition.popupTitle">Information</span>
  </div>
  <div class="col-2">
    <span class="close" style="cursor: pointer" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</span>
  </div>
</div>

<div class="modal-body">
  <div id="result-container">
    <div class="table-responsive" id="entities" *ngIf="_codeDefinitionList && _codeDefinitionList.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr class="bg-primary" jhiSort>
            <th>No.</th>
            <th scope="col" jhiSortBy="code">
              <span jhiTranslate="dmsApp.codeDefinition.code">Code</span>
            </th>

            <th scope="col" jhiSortBy="definition">
              <span jhiTranslate="dmsApp.codeDefinition.definition">Definition</span>
            </th>

            <th scope="col" jhiSortBy="type">
              <span jhiTranslate="dmsApp.codeDefinition.type">Type</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let codeType of _codeDefinitionList; let i = index" data-cy="entityTable">
            <td>{{ i + 1 }}</td>
            <td>{{ codeType.code }}</td>
            <td>{{ codeType.definition }}</td>
            <td>{{ codeType.metaDataHeader?.docTitle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">
    <span jhiTranslate="entity.action.ok">OK</span>
  </button>
</div>
