<div class="d-flex justify-content-between margin-top-10">
  <div class="row">
    <h5 jhiTranslate="global.menu.delivery.title" style="margin-left: 16px"> Delivery </h5>
    <h5>&nbsp;>>&nbsp;</h5>    
    <h5 jhiTranslate="global.menu.delivery.DocumentDelivery"> Document Received </h5>
  </div>
  <h5>{{ _departmentName }}</h5>
</div>


<form name="editForm" role="form" novalidate (ngSubmit)="submit()" [formGroup]="editForm" autocomplete="off">
  
  <div class="row justify-content-center margin-top-10">
    <div class="card">      
      <div class="card-header main-container">
        <div class="progressbar">
          <div class="progress" id="progress"></div>
          <span *ngFor="let item of progressItems; let i = index" style="position: relative">
            <div class="progress-step" [class.progress-step-active]="progressStep == item.step" [attr.data-title]="item.title"></div>
          </span>
        </div>
    </div>

    <div class="card-body">
      <div *ngIf="isInfo" class="form-group">
        <div *ngIf="editForm.get('docNo')!.invalid && (editForm.get('docNo')?.dirty || editForm.get('docNo')?.touched)">
          <div *ngIf="editForm.get('docNo')?.errors?.required" style="text-align: right; color: red">
            <span class="validate-span" jhiTranslate="omsApp.delivery.validateMsg.RequiredField"> This Field is required. </span>
          </div>
        </div>
        <input
          type="text"
          formControlName="docNo"
          placeholder="{{ 'omsApp.delivery.placeholder.DocNo' | translate }}"
          class="form-control div-padding text-height"
          name="docNo"
          id="docNo"
          required
        />

        <div *ngIf="editForm.get('subject')!.invalid && (editForm.get('subject')?.dirty || editForm.get('subject')?.touched)">
          <div *ngIf="editForm.get('subject')?.errors?.required" style="text-align: right; color: red">
            <span class="validate-span" jhiTranslate="omsApp.delivery.validateMsg.RequiredField"> This Field is required. </span>
          </div>
        </div>
        <input
          type="text"
          formControlName="subject"
          placeholder="{{ 'omsApp.delivery.placeholder.Subject' | translate }}"
          class="form-control div-padding text-height"
          name="subject"
          id="subject"
        />

      
        <quill-editor [styles]="{height: '220px'}" [modules]="modules"
               formControlName = "msg_body" ></quill-editor> 
               
      </div>

      <div *ngIf="isReceiver" class="form-group">

        <div *ngIf="toDepartments!.length === 0 " style="text-align: right; color: red">
          <span class="validate-span" jhiTranslate="omsApp.delivery.validateMsg.RequiredMainDept"> This Field is required. </span>
        </div>      

        <div class="textbox-wrapper div-padding">
          <jhi-department-component
            [placeholder]="toLabel"
            [departments]="toDepartments"
            (dbChanged)="onToDepartmentChange($event)"
          ></jhi-department-component>
        </div>

        <div class="textbox-wrapper div-padding">
          <jhi-department-component
            [placeholder]="ccLabel"
            [departments]="ccDepartments"
            (dbChanged)="onCcDepartmentChange($event)"
          ></jhi-department-component>
        </div>
      </div>
      
      <div *ngIf="isAttachment" class="form-group">

         
        <label class="form-control-label" for="text">&nbsp;</label>

        
        <div *ngIf="checkFormArrayEmpty()" style="text-align: right; color: red">
          <span class="validate-span" jhiTranslate="omsApp.delivery.validateMsg.RequiredFile"> This Field is required. </span>
        </div>  

        <form enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <input #inputFileElement type="file" (change)="onUploadFiles($event)" name="files" multiple />
            </div>
          </fieldset>
        </form>

        <div class="form-group" style="padding: 8px !important; overflow-x: auto">
          <table class="table" formArrayName="docList">
            <thead>
              <tr class="bg-primary">
                <th class="text-center" style="width: 25%">File Name</th>
                <th class="text-center" style="width: 5%">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of docList().controls; last as isLast; let i = index" [formGroupName]="i">
                <td>
                  <input
                    [title]="item.get(['fileName'])!.value"
                    type="text"
                    class="col-12 form-control"
                    placeholder="fileName"
                    formControlName="fileName"
                    readonly
                  />
                </td>
                <td style="padding-left: 10px">
                  <span title="Remove" (click)="removeField(i)">
                    <fa-icon icon="minus" class="fa-icon-theme text-danger"></fa-icon>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="isSuccess" class="form-group">
        
        <label name="cc_docNo" for="cc_docNo" class="form-control-label" jhiTranslate="omsApp.delivery.label.DocNo" >Doc No.</label>
        <input type="text" readonly class="textbox text-height form-control div-padding" formControlName="cc_docNo" />       
        <label name="toDepartments" for="toDepartments" class="form-control-label" jhiTranslate="omsApp.delivery.label.MDept" >Main Dept.</label>
        <div class="textbox-wrapper div-padding">
          <jhi-department-component
            [isReadonly]="true"
            [departments]="toDepartments"
          ></jhi-department-component>
        </div>

        <div *ngIf="ccDepartments && ccDepartments.length > 0">
          <label name="ccDepartments" for="ccDepartments" class="form-control-label" jhiTranslate="omsApp.delivery.label.CDept" >CC Dept.</label>
          <div class="textbox-wrapper div-padding">
            <jhi-department-component
              [isReadonly]="true"
              [departments]="ccDepartments"
            ></jhi-department-component>
          </div>
        </div>

        <label name="cc_subject" for="cc_subject" class="form-control-label" jhiTranslate="omsApp.delivery.label.Subject" >Sub.</label>
        <input type="text" readonly class="textbox text-height form-control div-padding" formControlName="cc_subject" />
        <label name="cc_body" for="cc_body" class="form-control-label" jhiTranslate="omsApp.delivery.label.Body" >Bod.</label>
        <quill-editor 
          [styles]="{height: '220px'}" 
          [modules]   = "{ toolbar: false }"
          class="quill-readonly"
        formControlName = "cc_body" ></quill-editor> 

      </div>
    </div>

    <div class="card-footer">
      <div *ngIf="isInfo" class="d-flex justify-content-end">
        <button
          class="btn btn-primary"
          type="submit"
          style="float: right"
          (click)="goToStep2()"
          [disabled]="
            editForm.get('docNo')?.errors?.required || editForm.get('subject')?.errors?.required 
          "
        >
          <span class="btn-text-padding-right" jhiTranslate="omsApp.delivery.button.Next">Next</span>
          <fa-icon icon="forward"></fa-icon>
        </button>
      </div>

      <div *ngIf="isReceiver" class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" style="float: left" (click)="goToStep1()">
          <fa-icon icon="backward"></fa-icon>
          <span class="btn-text-padding-left" jhiTranslate="omsApp.delivery.button.Back"> Back</span>
        </button>

        <button 
          class="btn btn-primary" 
          type="submit" style="float: right" 
          (click)="goToStep3()"
          [disabled]="toDepartments!.length === 0"> 
          <span class="btn-text-padding-right" jhiTranslate="omsApp.delivery.button.Next">Next</span>
          <fa-icon icon="forward"></fa-icon>
        </button>
      </div>

      <div *ngIf="isAttachment" class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" style="float: left" (click)="goToStep2()">
          <fa-icon icon="backward"></fa-icon>
          <span class="btn-text-padding-left" jhiTranslate="omsApp.delivery.button.Back">Back</span>
        </button>


        <button class="btn btn-primary" 
          type="submit" 
          style="float: right" 
          (click)="goToStep4()"
          [disabled]="checkFormArrayEmpty()">
          <span class="btn-text-padding-right" jhiTranslate="omsApp.delivery.button.Next">Next</span>
          <fa-icon icon="forward"></fa-icon>
        </button>

      </div>

      <div *ngIf="isSuccess" class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit" style="float: left" (click)="goToStep3()">
          <fa-icon icon="backward"></fa-icon>
          <span class="btn-text-padding-left" jhiTranslate="omsApp.delivery.button.Back">Back</span>
        </button>

        <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="isSaving" (click)="save(1)">
          <span class="btn-text-padding-right" jhiTranslate="omsApp.delivery.button.Send">Send</span>
          <fa-icon icon="paper-plane"></fa-icon>
        </button>

        <button class="btn btn-primary" type="button" style="float: right" [disabled]="isSaving" (click)="save(0)">
          <span class="btn-text-padding-right" jhiTranslate="omsApp.delivery.button.Draft">Draft</span>
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
     </div>
    </div>
  </div>
</form>
