<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-header-heading"
        data-cy="DocumentHeaderCreateUpdateHeading"
        jhiTranslate="dmsApp.documentHeader.home.createOrEditLabel"
      >
        Create or edit a Document Header
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.documentHeader.metaDataHeaderId" for="field_metaDataHeaderId"
            >Meta Data Header Id</label
          >
          <input
            type="number"
            class="form-control"
            name="metaDataHeaderId"
            id="field_metaDataHeaderId"
            data-cy="metaDataHeaderId"
            formControlName="metaDataHeaderId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.documentHeader.fieldNames" for="field_fieldNames">Field Names</label>
          <input
            type="text"
            class="form-control"
            name="fieldNames"
            id="field_fieldNames"
            data-cy="fieldNames"
            formControlName="fieldNames"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.documentHeader.fieldValues" for="field_fieldValues">Field Values</label>
          <input
            type="text"
            class="form-control"
            name="fieldValues"
            id="field_fieldValues"
            data-cy="fieldValues"
            formControlName="fieldValues"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.documentHeader.repositoryURL" for="field_repositoryURL"
            >Repository URL</label
          >
          <input
            type="text"
            class="form-control"
            name="repositoryURL"
            id="field_repositoryURL"
            data-cy="repositoryURL"
            formControlName="repositoryURL"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
