<div class="bg-primary">
  <div class="row col-12 dms-modal-row">
    <h4 class="modal-title col-10 text-white">Choose Department</h4>
    <div class="col-2 d-flex justify-content-end dms-modal-col" style="padding-right: 8px">
      <button style="color: white" type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="dismiss()">&times;</button>
    </div>
  </div>
</div>

<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="dmsApp.department.department" for="field_department">Department</label>

      <div class="row col-12">
        <select
          class="form-control col-8"
          id="field_department"
          data-cy="headDepartment"
          name="headDepartment"
          (change)="onDepartmentChange($event)"
        >
          <option value="null"></option>
          <option value="{{ departmentOption.id }}" *ngFor="let departmentOption of headDepartmentList; trackBy: trackDepartmentById">
            {{ departmentOption.description }}
          </option>
        </select>
        <div class="col-4" style="padding-left: 32px">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="isCheckedAllDepartment"
            (change)="onChangeCheckAllDepartment($event)"
            [ngModelOptions]="{ standalone: true }"
          />
          <span jhiTranslate="dmsApp.department.checkAll">All Department</span>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary">
            <th>
              <input
                style="margin-top: 5px; margin-left: 5px"
                type="checkbox"
                [(ngModel)]="isCheckedAll"
                (change)="onChangeSelectedAll($event)"
                [ngModelOptions]="{ standalone: true }"
              />
              &nbsp;ALL
            </th>
            <th>
              <span jhiTranslate="dmsApp.department.subdepartment">Sub Department</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments; let i = index" data-cy="entityTable">
            <!-- [(ngModel)]="data.isChecked" -->
            <td>
              <input
                style="margin-top: 5px; margin-left: 5px"
                type="checkbox"
                id="i"
                [(ngModel)]="department.isChecked"
                (change)="onChangeSelected($event, i)"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>{{ department.departmentName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="modal-footer justify-content-center">
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()">
    <span jhiTranslate="entity.action.ok">OK</span>
  </button>
</div>
