@media only screen and (max-width: 320px) {
  body {
    font-size: 20%;
  }
}

/*extra small devices*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 40%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 120%;
  }
}

.div-padding {
  margin-bottom: 8px;
}

.btn-text-padding-right {
  padding-right: 2em;
}

.btn-text-padding-left {
  padding-left: 2em;
}

.textbox-wrapper {
  position: relative;
  width: 100%;
}

.textbox {
  color: white;

  /*  padding-right: 50px; Adjust this value based on your button width */
}

.textbox-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 16em;
  float: right;
  background-color: rgb(221, 235, 141);
  color: white;
}

.card {
  width: 70%;
  height: 85vh;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 450px;
  // background: linear-gradient(to top, rgba(57, 144, 144, 0.5) 0%, rgb(6 15 45) 100%);
  //background: linear-gradient(to top, rgb(223 227 227 / 50%) 90%, #f5f9fa 100%);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-header {
  background-color: #ffffff;
  min-height: 70px;
  padding: 8px 16px 0px 16px !important;
  border-bottom: none;
}

.card-body {
  background-color: #ffffff;
  padding: 10px 32px 10px 32px !important;
}
.card-footer {
  background-color: #ffffff;
  min-height: 40px;
  padding: 0px 32px 0px 32px !important;
  border-top: none;
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// step progress bar
.progressbar {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
}

.progressbar::before,
.progress {
  content: '';
  position: absolute;
  top: 50%;
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  //background-color: red;
  transform: translateY(-50%);
  //z-index: -1;
}

.progress {
  background-color: #063a8e;
  width: 0%;
}

.progress-step {
  width: 35px;
  height: 35px;
  background-color: #dcdcdc;
  //background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
  //color: green;
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 12px;
  color: #666;
  width: 100px;
  text-align: center;
}

.progress-step-active {
  //background-color: var(--primary-color);
  background-color: #063a8e;
  color: #f3f3f3 !important;
}
