<html>
  <body>
    <!-- <h3>{{ name}}</h3> -->

    <form name="editForm" role="form" novalidate (ngSubmit)="submit()" [formGroup]="editForm" autocomplete="off">
      <div class="row justify-content-center">
        <div class="card">
          <div class="card-header main-container">
            <div class="progressbar">
              <div class="progress" id="progress"></div>
              <span *ngFor="let item of progressItems; let i = index" style="position: relative">
                <div class="progress-step" [class.progress-step-active]="progressStep == item.step" [attr.data-title]="item.title"></div>
              </span>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="isInfo" class="form-group">
              <input
                type="text"
                formControlName="subject"
                placeholder="Subject"
                class="form-control div-padding"
                name="subject"
                id="subject"
                placeholder="Subject"
              />
              <textarea
                class="form-control div-padding"
                name="body"
                placeholder="Body"
                style="height: 250px"
                id="body"
                formControlName="body"
              ></textarea>
            </div>

            <div *ngIf="isReceiver" class="form-group">
              <!-- <div class="textbox-wrapper div-padding"  >
                     <input type="text" placeholder="Main: Department" class="textbox form-control" />
                     <button class="form-control textbox-button">
                        <span class="btn-text-padding-right">Browse Main Department</span> 
                        <i class="fa-solid fa-magnifying-glass-plus" style="color: #7692e5;"></i>
                     </button>
                  </div> -->

              <!--  <div class="textbox-wrapper div-padding">
                     <textarea class="form-control"  name="body" placeholder="CC: Department" style="height: 300px" id="body"></textarea>
   
                     <button class="form-control textbox-button">
                        <span class="btn-text-padding-right">Browse CC Department</span> 
                        <i class="fa-solid fa-magnifying-glass-plus" style="color: #7692e5;"></i>
                     </button>
                  </div> -->
              <div class="textbox-wrapper div-padding">
                <jhi-department-component
                  [placeholder]="toLabel"
                  [departments]="toDepartments"
                  (dbChanged)="onToDepartmentChange($event)"
                ></jhi-department-component>
              </div>

              <div class="textbox-wrapper div-padding">
                <jhi-department-component
                  [placeholder]="ccLabel"
                  [departments]="ccDepartments"
                  (dbChanged)="onCcDepartmentChange($event)"
                ></jhi-department-component>
              </div>
            </div>

            <div *ngIf="isAttachment" class="form-group">
              <label class="form-control-label" for="text">&nbsp;</label>
              <form enctype="multipart/form-data">
                <fieldset>
                  <div class="form-group div-padding">
                    <input #inputFileElement type="file" (change)="onUploadFiles($event)" name="files" class="form-control" multiple />
                  </div>
                </fieldset>
              </form>

              <div class="form-group" style="padding: 8px !important; overflow-x: auto">
                <table class="table" formArrayName="fileList">
                  <thead>
                    <tr class="bg-primary">
                      <th class="text-center" style="width: 25%">File Name</th>
                      <th class="text-center" style="width: 10%">File Size (KB)</th>
                      <th class="text-center" style="width: 5%">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of fileList().controls; last as isLast; let i = index" [formGroupName]="i">
                      <td>
                        <input
                          [title]="item.get(['fileName'])!.value"
                          type="text"
                          class="col-12 form-control"
                          placeholder="fileName"
                          formControlName="fileName"
                          [readonly]="item.get(['id'])!.value != null"
                        />
                      </td>
                      <td>
                        <input type="number" class="col-12 form-control" placeholder="filesize" formControlName="fileSize" readonly />
                      </td>
                      <td style="padding-left: 10px">
                        <span title="Remove" (click)="removeField(i)">
                          <i class="fas fa-danger"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div *ngIf="isDelivery" class="form-group">
              <input type="text" placeholder="" class="textbox form-control div-padding" />
              <input type="text" placeholder="" class="textbox form-control div-padding" />
              <input type="text" placeholder="" class="textbox form-control div-padding" />
              <input type="text" placeholder="" class="textbox form-control div-padding" />
              <textarea class="form-control div-padding" name="body" placeholder="" style="height: 200px" id="body"></textarea>
            </div>
          </div>

          <div class="card-footer">
            <div *ngIf="isInfo" class="d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" style="float: right" (click)="goToStep2()">
                <span class="btn-text-padding-right">Next</span>
                <fa-icon icon="forward"></fa-icon>
              </button>
            </div>

            <div *ngIf="isReceiver" class="d-flex justify-content-between">
              <button class="btn btn-primary" type="submit" (click)="goToStep1()">
                <fa-icon icon="backward"></fa-icon>
                <span class="btn-text-padding-left">Back</span>
              </button>

              <button class="btn btn-primary" type="submit" (click)="goToStep3()">
                <span class="btn-text-padding-right">Next</span>
                <fa-icon icon="forward"></fa-icon>
              </button>
            </div>
            <div *ngIf="isAttachment" class="d-flex justify-content-between">
              <button class="btn btn-primary" type="submit" (click)="goToStep2()">
                <fa-icon icon="backward"></fa-icon>
                <span class="btn-text-padding-left">Back</span>
              </button>

              <button class="btn btn-primary" type="submit" (click)="goToStep4()">
                <span class="btn-text-padding-right">Next</span>
                <fa-icon icon="forward"></fa-icon>
              </button>
            </div>

            <div *ngIf="isDelivery" class="d-flex justify-content-between">
              <button class="btn btn-primary" type="submit" (click)="goToStep3()">
                <fa-icon icon="backward"></fa-icon>
                <span class="btn-text-padding-left">Back</span>
              </button>

              <button class="btn btn-primary" type="submit" (click)="submit()">
                <span class="btn-text-padding-right">Send</span>
                <fa-icon icon="paper-plane"></fa-icon>
              </button>

              <button class="btn btn-primary" type="submit" (click)="submit()">
                <span class="btn-text-padding-right">Save As Draft</span>
                <fa-icon icon="paper-plane"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
