<div class="modal-header">
  <h4 class="modal-title">Repository</h4>

  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
  <div id="page-heading" class="row">
    <div class="col-10">
      <span>Repository</span>
      <!--<fa-icon icon="angle-double-right" ></fa-icon>-->
      <span> >> Repository Inquiry</span>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button class="btn btn-primary btn-sm" (click)="loadPage(1)" [disabled]="isLoading">
        <fa-icon icon="search"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.search">Search</span>
      </button>
      <span style="width: 5px"></span>
      <button class="btn btn-primary btn-sm" (click)="clearFormData()" [disabled]="isLoading">
        <span class="d-none d-md-inline" jhiTranslate="entity.action.clear">Clear</span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="isShowingFilters">
    <fa-icon icon="angle-down" (click)="showFilters()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.repository.search"
      >Search Repository</span
    >
  </div>

  <div *ngIf="!isShowingFilters">
    <fa-icon icon="angle-right" (click)="showFilters()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.repository.search"
      >Search Repository</span
    >
  </div>

  <div *ngIf="isShowingFilters" id="search-area" class="col-12">
    <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
      <div class="form-group row col-12">
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="dmsApp.repository.repositoryName" for="field_repositoryName"
            >Repository Name</label
          >
        </div>
        <div class="col-2">
          <input
            type="text"
            class="form-control"
            name="repositoryName"
            id="field_repositoryName"
            data-cy="repositoryName"
            formControlName="repositoryName"
          />
        </div>
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="dmsApp.repository.createdDate" for="field_createdDate">Created Date</label>
        </div>
        <div class="col-2">
          <div class="input-group">
            <input
              class="form-control"
              id="field_createdDate"
              data-cy="createdDate"
              placeholder="DD-MM-YYYY"
              name="createdDate"
              formControlName="createdDate"
              ngbDatepicker
              #createdDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-primary btn-sm dms-icon-btn" id="createdDateButton" (click)="createdDate.toggle()" type="button">
                <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isShowingResult" class="result-header">
    <fa-icon icon="angle-down" (click)="showResultArea()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.repository.result">Search Result</span>
  </div>

  <div *ngIf="!isShowingResult" class="result-header">
    <fa-icon icon="angle-right" (click)="showResultArea()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.repository.result"
      >Search Result</span
    >
  </div>

  <div id="result-container" *ngIf="isShowingResult">
    <div class="alert alert-warning" id="no-result" *ngIf="repositorys?.length === 0">
      <span jhiTranslate="dmsApp.repository.home.notFound">No Repository found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="repositorys && repositorys.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"></th>
            <th scope="col" jhiSortBy="repositoryName">
              <span jhiTranslate="dmsApp.repository.repositoryName">Repository Name</span>
              <fa-icon icon="sort"></fa-icon>
            </th>

            <th scope="col" jhiSortBy="repositoryPath">
              <span jhiTranslate="dmsApp.repository.repositoryPath">Repository Path</span>
              <fa-icon icon="sort"></fa-icon>
            </th>

            <th scope="col" jhiSortBy="createdDate">
              <span jhiTranslate="dmsApp.repository.createdDate">Created Date</span>
              <fa-icon icon="sort"></fa-icon>
            </th>

            <th scope="col" jhiSortBy="createdBy">
              <span jhiTranslate="dmsApp.repository.createdBy">Created By</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repository of repositorys; trackBy: trackId" data-cy="entityTable">
            <td>
              <button type="button" class="btn btn-primary btn-sm" data-cy="entitySelectButton" (click)="selectRepo(repository)">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Select</span>
              </button>
            </td>
            <td>{{ repository.repositoryName }}</td>
            <td>{{ loadRepositoryPath(repository.repositoryDetails) }}</td>
            <td>{{ repository.createdDate ? repository.createdDate.format('DD-MM-YYYY') : '-' }}</td>
            <td>{{ repository.createdBy }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="repositorys && repositorys.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        <span style="width: 30px">&nbsp;&nbsp;</span>
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>
</div>
