a {
  color: #007bff !important;
  font-size: 12px !important;
  cursor: pointer;
}
.modal-header {
  padding: 0.5rem;
}
.modal-body {
  padding: 0px;
}
.modal-footer {
  padding: 0.25rem;
}
.color-white {
  color: white;
}

.full-width {
  width: 100%;
}

.bg-primary {
  background-color: #691c31 !important;
}

th {
  color: white;
  border: 1px solid #716f6f;
  padding: 5px;
  background-color: #056e7c;
}

td {
  border: none !important;
  padding: 2px;
}

th,
td {
  min-width: 105px;
}

.fa-icon-theme {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
  box-shadow: 0 0px 2px #a7a7a7;
  margin: 6px;
}

.fa-icon-theme:hover {
  background-color: #d58e03;
}

#page-heading {
  font-size: 13pt;
  padding-top: 10px;
}

.tbl-container {
  width: 100%;
  overflow-x: auto;
}

form {
  width: 100%;
  padding: 3px;
}

.text-center {
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.text-left {
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  text-align: left;
  vertical-align: middle;
}

#page-heading {
  font-size: 13pt;
  padding-top: 10px;
}

#search-area {
  border: 0.5pt solid grey;
  padding: 10pt 10pt;
}

.result-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dms-icon-btn {
  padding: 2px;
  height: 1.5rem;
}

.modal-body {
  padding: 8px !important;
}
