.dms-icon-btn {
  padding: 2px;
  height: 1.5rem;
}

.dms-alert-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

#rpt-search-area {
  margin-top: 3pt;
  border: 0.5pt solid grey;
  padding: 30pt;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.margin-top-10 {
  margin-top: 10px;
}