<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-application-user-heading"
        data-cy="ApplicationUserCreateUpdateHeading"
        jhiTranslate="dmsApp.applicationUser.home.createOrEditLabel"
      >
        Create or edit a Application User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.applicationUser.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.applicationUser.workflowAuthority" for="field_workflowAuthority"
            >Workflow Authority</label
          >
          <select
            type="number"
            class="form-control"
            name="workflowAuthority"
            id="field_workflowAuthority"
            data-cy="workflowAuthority"
            formControlName="workflowAuthority"
          >
            <option [ngValue]="workflow.value" *ngFor="let workflow of workflowAuthorityCollection">
              {{ workflow.description }}
            </option>
          </select>

          <div
            *ngIf="
              editForm.get('workflowAuthority')!.invalid &&
              (editForm.get('workflowAuthority')!.dirty || editForm.get('workflowAuthority')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('workflowAuthority')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('workflowAuthority')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.applicationUser.userRole" for="field_userRole">User Role</label>
          <select class="form-control" id="field_userRole" data-cy="userRole" name="userRole" formControlName="userRole">
            <option *ngIf="!editForm.get('userRole')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userRoleOption.id === editForm.get('userRole')!.value?.id ? editForm.get('userRole')!.value : userRoleOption"
              *ngFor="let userRoleOption of userRolesSharedCollection; trackBy: trackUserRoleById"
            >
              {{ userRoleOption.roleName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['userRole'])!.invalid && (editForm.get(['userRole'])!.dirty || editForm.get(['userRole'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['userRole'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="dmsApp.applicationUser.department" for="field_department">Department</label>
          <select class="form-control" id="field_department" data-cy="department" name="department" formControlName="department">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                departmentOption.id === editForm.get('department')!.value?.id ? editForm.get('department')!.value : departmentOption
              "
              *ngFor="let departmentOption of departmentsSharedCollection; trackBy: trackDepartmentById"
            >
              {{ departmentOption.departmentName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
