<div>
  <h2 id="page-heading" data-cy="CodeDefinitionHeading">
    <span jhiTranslate="dmsApp.codeDefinition.home.title">Code Definitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmsApp.codeDefinition.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-code-definition"
        [routerLink]="['/code-definition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmsApp.codeDefinition.home.createLabel"> Create a new Code Definition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="codeDefinitions?.length === 0">
    <span jhiTranslate="dmsApp.codeDefinition.home.notFound">No Code Definitions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="codeDefinitions && codeDefinitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="dmsApp.codeDefinition.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="definition">
            <div class="d-flex">
              <span jhiTranslate="dmsApp.codeDefinition.definition">Definition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="dmsApp.codeDefinition.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let codeDefinition of codeDefinitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/code-definition', codeDefinition.id, 'view']">{{ codeDefinition.id }}</a>
          </td>
          <td>{{ codeDefinition.code }}</td>
          <td>{{ codeDefinition.definition }}</td>
          <td>{{ codeDefinition.metaDataHeader?.docTitle }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isRead === 1)"
                type="submit"
                [routerLink]="['/code-definition', codeDefinition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isWrite === 1)"
                type="submit"
                [routerLink]="['/code-definition', codeDefinition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isDelete === 1)"
                type="submit"
                (click)="delete(codeDefinition)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="codeDefinitions && codeDefinitions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
