<div>
  <h2 id="page-heading" data-cy="ApplicationUserHeading">
    <span jhiTranslate="dmsApp.applicationUser.home.title">Application Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmsApp.applicationUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application-user"
        [routerLink]="['/application-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmsApp.applicationUser.home.createLabel"> Create a new Application User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicationUsers?.length === 0">
    <span jhiTranslate="dmsApp.applicationUser.home.notFound">No applicationUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="applicationUsers && applicationUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr class="bg-primary" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="dmsApp.applicationUser.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="workflowAuthority">
            <span jhiTranslate="dmsApp.applicationUser.workflowAuthority">Workflow Authority</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userRole.roleName">
            <span jhiTranslate="dmsApp.applicationUser.userRole">User Role</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="department.departmentName">
            <span jhiTranslate="dmsApp.applicationUser.department">Department</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationUser of applicationUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application-user', applicationUser.id, 'view']">{{ applicationUser.id }}</a>
          </td>
          <td>
            {{ applicationUser.user?.login }}
          </td>
          <td>{{ getWorkFlowDescription(applicationUser.workflowAuthority) }}</td>
          <td>
            <div *ngIf="applicationUser.userRole">
              <a>{{ applicationUser.userRole?.roleName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="applicationUser.department">
              <a>{{ applicationUser.department?.docTitle }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isRead === 1)"
                type="submit"
                [routerLink]="['/application-user', applicationUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isWrite === 1)"
                type="submit"
                [routerLink]="['/application-user', applicationUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isDelete === 1)"
                type="submit"
                (click)="delete(applicationUser)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="applicationUsers && applicationUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
