<div>
  <h2 id="page-heading" data-cy="RoleMenuMapHeading">
    <span jhiTranslate="dmsApp.roleMenuMap.home.title">Role Menu Maps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmsApp.roleMenuMap.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-role-menu-map"
        [routerLink]="['/role-menu-map/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmsApp.roleMenuMap.home.createLabel"> Create a new Role Menu Map </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roleMenuMaps?.length === 0">
    <span jhiTranslate="dmsApp.roleMenuMap.home.notFound">No roleMenuMaps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="roleMenuMaps && roleMenuMaps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dmsApp.roleMenuMap.roleId">Role Id</span></th>
          <th scope="col"><span jhiTranslate="dmsApp.roleMenuMap.menuId">Menu Id</span></th>
          <th scope="col"><span jhiTranslate="dmsApp.roleMenuMap.allowed">Allowed</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roleMenuMap of roleMenuMaps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/role-menu-map', roleMenuMap.id, 'view']">{{ roleMenuMap.id }}</a>
          </td>
          <td>{{ roleMenuMap.roleId }}</td>
          <td>{{ roleMenuMap.menuId }}</td>
          <td>{{ roleMenuMap.allowed }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/role-menu-map', roleMenuMap.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/role-menu-map', roleMenuMap.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(roleMenuMap)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
