<div>
  <h2 id="page-heading" data-cy="UserRoleHeading">
    <span jhiTranslate="dmsApp.userRole.home.title">Role Access</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dmsApp.userRole.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-role"
        [routerLink]="['/user-role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dmsApp.userRole.home.createLabel"> Create a new User Role </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userRoles?.length === 0">
    <span jhiTranslate="dmsApp.userRole.home.notFound">No userRoles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userRoles && userRoles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr class="bg-primary" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roleName">
            <span jhiTranslate="dmsApp.userRole.roleName">Role Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userRole of userRoles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-role', userRole.id, 'view']">{{ userRole.id }}</a>
          </td>
          <td>{{ userRole.roleName }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isWrite === 1)"
                type="submit"
                [routerLink]="['/user-role', userRole.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *ngIf="_isSystemUser || (_userAuthority && _userAuthority.activeMenu?.isDelete === 1)"
                type="submit"
                (click)="delete(userRole)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userRoles && userRoles.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
