#repositoryView {
  margin-top: 10pt;
  padding: 10pt;
  border: 0.5pt solid gray;
}

.folder-theme {
  color: #eabc16;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px 1px 0px 1px;
  margin: 2px;
}

.form-control[readonly] {
  background-color: white !important;
}
