#metadataView {
  margin-top: 10pt;
  padding: 10pt;
  border: 0.5pt solid gray;
}

.folder-theme {
  color: #eabc16;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px 1px 0px 1px;
  margin: 2px;
}

.form-control[readonly] {
  background-color: white !important;
}

th {
  color: white;
  border: 1px solid #716f6f;
  padding: 5px;
}

td {
  border: none !important;
  padding: 2px;
}

th,
td {
  min-width: 40px;
}

.text-center {
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.text-right {
  text-align: right;
  vertical-align: middle;
}
