<div id="page-heading" class="row">
  <div class="col-8">
    <span jhiTranslate="global.menu.document.trashbin"></span>
    <span>>></span>
    <span jhiTranslate="global.menu.document.restore"></span>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button (click)="previousState()" class="btn btn-primary btn-sm" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span class="d-none d-md-inline" jhiTranslate="entity.action.back">Back</span>
    </button>
    <span style="width: 5px"></span>
    <button (click)="restoreDocument()" class="btn btn-primary btn-sm" data-cy="entityEditButton">
      <fa-icon icon="trash-restore"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.restore">Restore</span>
    </button>
  </div>
</div>

<div id="page-body">
  <form name="editForm" role="form" novalidate [formGroup]="editForm" autocomplete="off">
    <div class="row">
      <div class="col-3">
        <div *ngIf="_isDocHeaderShow" class="tab-header-select" (click)="showDocHeader()">
          <fa-icon icon="angle-down" (click)="showDocHeader()"></fa-icon>&nbsp;
          <span jhiTranslate="dmsApp.document.metadataLabel">MetaData Information</span>
        </div>

        <div *ngIf="!_isDocHeaderShow" class="tab-header" (click)="showDocHeader()">
          <fa-icon icon="angle-right" (click)="showDocHeader()"></fa-icon>&nbsp;
          <span jhiTranslate="dmsApp.document.metadataLabel">MetaData Information</span>
        </div>
      </div>

      <div class="col-6">
        <div class="div-tab" *ngIf="_isDocDetailShow" class="tab-header-select" (click)="showDocDetail()">
          <fa-icon icon="angle-down" (click)="showDocDetail()"></fa-icon>&nbsp;
          <span jhiTranslate="dmsApp.document.docDetailLabel">Document Upload Details</span>
        </div>

        <div *ngIf="!_isDocDetailShow" class="tab-header" (click)="showDocDetail()">
          <fa-icon icon="angle-right" (click)="showDocDetail()"></fa-icon>&nbsp;
          <span jhiTranslate="dmsApp.document.docDetailLabel">Document Upload Details</span>
        </div>
      </div>
    </div>

    <div class="row" id="documentHeaderView" *ngIf="_isDocHeaderShow">
      <div class="row col-12 form-group">
        <div class="col-2 dms-label">
          <span jhiTranslate="dmsApp.document.id">ID</span>
        </div>
        <div class="col-3 dms-view-data">
          <input type="text" class="form-control" value="{{ _documentHeader?.id }}" readonly />
        </div>
        <div class="col-2 dms-label">
          <span jhiTranslate="dmsApp.document.status">Status</span>
        </div>
        <div class="col-2 dms-view-data">
          <input type="text" class="form-control" value="{{ getDocumentStatus(_documentHeader?.status) }}" readonly />
        </div>
        <div class="col-1 dms-label">
          <span jhiTranslate="dmsApp.document.priority">Priority</span>
        </div>
        <div class="col-2 dms-view-data">
          <input type="text" class="form-control" value="{{ getPriorityDesc(_documentHeader?.priority) }}" readonly />
        </div>
      </div>
      <div class="row col-12 form-group">
        <div class="col-2 dms-label">
          <span jhiTranslate="dmsApp.document.docTitle">Document Template</span>
        </div>
        <div class="col-3 dms-view-data">
          <input type="text" class="form-control" value="{{ getDocTitleByID(_documentHeader?.metaDataHeaderId) }}" />
        </div>
        <div class="col-2 dms-label">
          <span jhiTranslate="dmsApp.document.createdDate">Created Date</span>
        </div>
        <div class="col-2 dms-view-data">
          <input
            type="text"
            class="form-control"
            value="{{ _documentHeader ? (_documentHeader.createdDate ? _documentHeader.createdDate.format('DD-MM-YYYY') : '-') : '-' }}"
          />
        </div>
        <div class="col-1 dms-label">
          <span jhiTranslate="dmsApp.document.createdBy">Created By</span>
        </div>
        <div class="col-2 dms-view-data">
          <input type="text" class="form-control" value="{{ _documentHeader?.createdBy }}" />
        </div>
      </div>
      <div
        class="row col-12 form-group"
        *ngFor="let metadata of getMetaDataFieldsAndValues(_documentHeader?.fieldNames, _documentHeader?.fieldValues)"
      >
        <div class="col-2 dms-label">
          <span>{{ metadata.name }}</span>
        </div>
        <div class="col-3 dms-view-data">
          <input type="text" class="form-control" value="{{ metadata.value }}" />
        </div>
      </div>
    </div>

    <div class="row" id="documentDetailView" *ngIf="_isDocDetailShow">
      <div class="table-responsive" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col" style="width: 15%">
                <span jhiTranslate="dmsApp.document.fileLocation">Repository URL</span>
              </th>
              <th scope="col" style="width: 25%">
                <span jhiTranslate="dmsApp.document.fileName">File Name</span>
              </th>
              <th scope="col" style="width: 10%">
                <span jhiTranslate="dmsApp.document.fileSize">Size</span>
              </th>
              <th scope="col" style="width: 5%">
                <span jhiTranslate="dmsApp.document.fileVersion">Version</span>
              </th>
              <th scope="col" style="text-align: center; width: 20%">
                <span jhiTranslate="dmsApp.document.remark">Remark</span>
              </th>
              <th scope="col" style="text-align: center; width: 10%">
                <span jhiTranslate="dmsApp.document.preview">Preview</span>
              </th>
              <th scope="col" style="text-align: center; width: 10%">
                <span jhiTranslate="dmsApp.document.download">Download</span>
              </th>
              <th scope="col" style="text-align: center; width: 5%">
                <span jhiTranslate="dmsApp.document.select">Select</span>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="docList">
            <tr *ngFor="let item of docList1().controls; last as isLast; let i = index" [formGroupName]="i">
              <td>
                <input
                  [title]="item.get(['filePath'])!.value"
                  type="text"
                  class="col-12 form-control"
                  formControlName="filePath"
                  readonly
                />
              </td>
              <td>
                <input
                  [title]="item.get(['fileName'])!.value"
                  type="text"
                  class="col-12 form-control"
                  placeholder="fileName"
                  formControlName="fileName"
                  [readonly]="item.get(['id'])!.value != null"
                />
              </td>
              <td>
                <input type="number" class="col-12 form-control" formControlName="fileSize" readonly />
              </td>
              <td>
                <input type="number" class="col-12 form-control" formControlName="version" readonly />
              </td>
              <td>
                <input [title]="item.get(['remark'])!.value" type="text" class="col-12 form-control" formControlName="remark" readonly />
              </td>
              <td style="text-align: center">
                <span style="cursor: pointer" (click)="previewFile(i)">
                  <fa-icon icon="eye"></fa-icon>
                </span>
              </td>
              <td style="text-align: center">
                <span title="download" style="cursor: pointer" (click)="downloadFile(i)">
                  <fa-icon icon="download"></fa-icon>
                </span>
              </td>
              <td style="text-align: center">
                <input type="checkbox" class="form-check-input" placeholder="restoreChecked" formControlName="restoreChecked" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
