<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="metaData">
      <h2 data-cy="metaDataDetailsHeading"><span jhiTranslate="dmsApp.metaData.detail.title">Meta Data</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ metaData.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.headerId">Header Id</span></dt>
        <dd>
          <span>{{ metaData.headerId }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.fieldName">Field Name</span></dt>
        <dd>
          <span>{{ metaData.fieldName }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.fieldType">Field Type</span></dt>
        <dd>
          <span>{{ metaData.fieldType }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.isRequired">Is Required</span></dt>
        <dd>
          <span>{{ metaData.isRequired }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.fieldOrder">Field Order</span></dt>
        <dd>
          <span>{{ metaData.fieldOrder }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.metaData.fieldValue">Field Value</span></dt>
        <dd>
          <span>{{ metaData.fieldValue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/meta-data', metaData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
