<div class="row justify-content-center">
  
 <div class="card">
    

      <div class="card-header-title">
        <span jhiTranslate="global.menu.delivery.title"> Delivery </span> >>
        <span jhiTranslate="global.menu.delivery.DocumentDelivery"> Document Delivery </span>
      </div>

      <div class="card-body">
        <input type="text" readonly 
        class="textbox text-height form-control div-padding" 
        value="{{docNo}}" />
    
      <div class="textbox-wrapper div-padding">
        <jhi-department-component [isReadonly]="true" [departments]="toDepartments"></jhi-department-component>
      </div>
    
      <div class="textbox-wrapper div-padding">
        <jhi-department-component [isReadonly]="true" [departments]="ccDepartments"></jhi-department-component>
      </div>
    
      <input type="text" readonly 
        class="textbox text-height form-control div-padding" 
        value="{{subject}}" />
    
      <quill-editor 
        [styles]="{height: '220px'}" 
        [modules]="{ toolbar: false }" 
        class="quill-readonly"
        [(ngModel)]="body"></quill-editor>

      </div>
   
  </div>  
</div>