/* Style for date input */
input[type="date"] {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    transition: border-color 0.2s;
  }
  
  input[type="date"]:hover {
    border-color: #555;
  }

  .card {
    width: 80%;
    height: 80vh; //auto; //
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 450px;
    // background: linear-gradient(to top, rgba(57, 144, 144, 0.5) 0%, rgb(6 15 45) 100%);
    //background: linear-gradient(to top, rgb(223 227 227 / 50%) 90%, #f5f9fa 100%);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card-header-title {
    background-color: #ffffff;
    min-height: 40px;
    padding: 8px 16px 0px 16px !important;
    border-bottom: none;
  }
  
  .card-header {
    background-color: #ffffff;
    min-height: 70px;
    padding: 8px 16px 0px 16px !important;
    border-bottom: none;
  }
  
  .card-body {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px  !important;
    overflow-y: auto;
  }
  
  .card-footer {
    background-color: #ffffff;
    min-height: 40px;
    padding: 0px 32px 0px 32px !important;
    border-top: none;
  }

  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
.quill-readonly {
    // background-color: #eeeeee; /* Set a background color to indicate readonly */
    pointer-events: none; /* Disable pointer events to prevent interaction */
    cursor: not-allowed; /* Change the cursor to not-allowed to indicate it's not editable */
    opacity: 0.7; /* Optionally reduce opacity to further indicate readonly */
  }
  
  
.div-padding {
  margin-bottom: 10px;
}

.text-height {
  height: 3em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.margin-top-10 {
  margin-top: 10px;
}

.tbl-header-padding{
  padding-bottom: 3px;
}