<div id="page-heading" class="row">
  <div class="col-10">
    <span>{{
      _activeMenuItem && _activeMenuItem.menuGroup.translateKey
        ? (_activeMenuItem.menuGroup.translateKey | translate)
        : _activeMenuItem?.menuGroup?.name
    }}</span>
    <span>
      >> {{ _activeMenuItem && _activeMenuItem.translateKey ? (_activeMenuItem.translateKey | translate) : _activeMenuItem?.name }}</span
    >
  </div>
</div>

<div class="result-header">
  <fa-icon icon="angle-down" (click)="showResultArea()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.document.queue"></span>
</div>

<div id="result-container" *ngIf="isShowingResult">
  <div class="alert alert-info" *ngIf="isShowingAlert">
    <a class="close" aria-label="close" (click)="closeAlert()">&times;</a>
    <span>{{ _alertMessage }}</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="_documentHeaders && _documentHeaders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col">
            <span jhiTranslate="global.field.id">ID</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.document.docTitle">Document Title</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.document.priority">Priority</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.document.createdDate">Created Date</span>
          </th>
          <th scope="col">
            <span jhiTranslate="dmsApp.document.createdBy">Created By</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documentHeader of _documentHeaders; trackBy: trackDocumentHeaderById" data-cy="entityTable">
          <td>
            <a>{{ documentHeader.id }} {{ bindMetaDataValues(documentHeader.fieldValues) }}</a>
          </td>
          <td>{{ getDocTitleByID(documentHeader.metaDataHeaderId) }}</td>
          <td>{{ bindPriority(documentHeader.priority!) }}</td>
          <td>{{ documentHeader.createdDate ? documentHeader.createdDate.format('DD-MM-YYYY') : '-' }}</td>
          <td>{{ documentHeader.createdBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="_userAuthority && _userAuthority.sysConfigMessage.workflowEnabled === 'Y'"
                type="submit"
                [routerLink]="['/service-queue/document', documentHeader.id, 'view']"
                class="btn btn-primary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="angle-double-right"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.proceed">Proceed</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="_documentHeaders && _documentHeaders.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      <span style="width: 30px">&nbsp;&nbsp;</span>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
