#page-heading {
  font-size: 13pt;
  padding-top: 10px;
}

#page-body {
  padding-top: 10px;
}

form {
  width: 100%;
}

.tbl-container {
  width: 100%;
  overflow-x: auto;
}

#config-message {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
