<div id="page-heading" class="row">
  <div class="col-10">
    <span>Repository</span>
    <span> >> Repository Creation</span>
  </div>

  <div class="col-2 d-flex justify-content-end">
    <button
      type="button"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary btn-sm"
      (click)="save()"
    >
      <fa-icon icon="save"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.save">Save</span>
    </button>
    <span style="width: 5px"></span>
    <button type="button" id="cancel-save" class="btn btn-primary btn-sm" (click)="cancel()">
      <fa-icon icon="plus"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.new">New</span>
    </button>
  </div>
</div>

<div id="page-heading" class="row">
  <form name="editForm" role="form" novalidate [formGroup]="editForm" autocomplete="off">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="form-group" [hidden]="editForm.get('id')!.value == null">
      <div class="form-group col-6">
        <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-group col-6">
        <label class="form-control-label" for="field_repositoryName"
          >{{ 'dmsApp.repository.repositoryName' | translate }}<span class="text-danger required-field">*</span></label
        >
        <input
          type="text"
          class="form-control"
          name="repositoryName"
          id="field_repositoryName"
          data-cy="repositoryName"
          formControlName="repositoryName"
        />

        <div
          *ngIf="
            editForm.get('repositoryName')!.invalid && (editForm.get('repositoryName')!.dirty || editForm.get('repositoryName')!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('repositoryName')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('repositoryName')?.errors?.pattern"
            jhiTranslate="entity.validation.invalidInputCharacter"
          >
            This field can only contain a to z, A to Z, space and under scroll(_)
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('repositoryName')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group col-6">
        <label class="form-control-label" jhiTranslate="dmsApp.repository.repositoryPath" for="field_docTitle">Repository Path</label>
        <div class="tbl-container">
          <table class="table" formArrayName="fieldList">
            <tbody>
              <tr *ngFor="let item of fieldList().controls; last as isLast; let i = index" [formGroupName]="i">
                <td>
                  <div class="input-group">
                    <span title="Remove" (click)="removeField(i)">
                      <fa-icon icon="minus" class="fa-icon-theme"></fa-icon>
                    </span>
                    <span *ngIf="isLast" title="Add" (click)="addField()">
                      <fa-icon icon="plus" class="fa-icon-theme"></fa-icon>
                    </span>
                    <span>
                      <fa-icon icon="folder" class="folder-theme"></fa-icon>
                    </span>
                    <input type="text" class="col-12 form-control" placeholder="Folder Name" formControlName="folderName" />
                  </div>

                  <div
                    *ngIf="
                      fieldList().controls[i].get('folderName')!.invalid &&
                      (fieldList().controls[i].get('folderName')!.dirty || fieldList().controls[i].get('folderName')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('folderName')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('folderName')?.errors?.pattern"
                      jhiTranslate="entity.validation.invalidInputCharacter"
                    >
                      This field can only contain a to z, A to Z, space and under scroll(_)
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('folderName')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 50 }"
                    >
                      This field cannot be longer than 50 characters.
                    </small>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
