.text-center {
  font-weight: 600;
  color: white;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.text-left {
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  text-align: left;
  vertical-align: middle;
}

th {
  color: white;
  border: none;
  padding: 5px;
  background-color: #056e7c;
}

td {
  border: none;
  padding: 1px;
}

th,
td {
  min-width: 105px;
}

/* td:nth-child(2n) {
  padding-left: n * 15;
} */

.fa-icon-theme {
  font-size: 0.7rem;
  cursor: pointer;
  //border: 1px solid transparent;
  // border-radius: 3px;
  padding: 0px 1px 0px 1px;
  //box-shadow: 0 0px 2px #a7a7a7;
  margin: 2px;
}

.folder-theme {
  color: #eabc16;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px 1px 0px 1px;
  margin: 2px;
}

#page-heading {
  font-size: 13pt;
  padding-top: 10px;
}

.tbl-container {
  width: 100%;
  overflow-x: auto;
}

form {
  width: 100%;
}

.input-btn-primary {
  color: #fff;
  background-color: #2780e3;
  border-color: #2780e3;
  height: 1.5rem;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}
