<div id="dms-login-container">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-body">
          <div class="form-icon">
            <fa-icon icon="user"></fa-icon>
            <!--<i class="fa fa-user-circle"></i> -->
          </div>
          <p class="login-title">Document Management System</p>

          <div class="dms-vertical-space"></div>

          <div
            class="alert alert-danger"
            *ngIf="authenticationError"
            jhiTranslate="login.messages.error.authentication"
            data-cy="loginError"
          >
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
          </div>

          <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="user"></fa-icon></span>
              </div>
              <input
                placeholder="Enter User Id"
                type="text"
                class="form-control"
                name="username"
                id="username"
                formControlName="username"
                #username
                data-cy="username"
              />
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="key"></fa-icon></span>
              </div>
              <input
                placeholder="Enter Password"
                type="password"
                class="form-control"
                name="password"
                id="password"
                formControlName="password"
                data-cy="password"
              />
            </div>

            <div class="row justify-content-center">
              <button type="submit" class="btn login_btn" data-cy="submit">Login</button>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
