<div id="page-heading" class="row">
  <div class="col-8">
    <span>{{
      _activeMenuItem && _activeMenuItem.menuGroup.translateKey
        ? (_activeMenuItem.menuGroup.translateKey | translate)
        : _activeMenuItem?.menuGroup?.name
    }}</span>
    <span>
      >> {{ _activeMenuItem && _activeMenuItem.translateKey ? (_activeMenuItem.translateKey | translate) : _activeMenuItem?.name }}</span
    >
  </div>

  <div class="col-4 d-flex justify-content-end">
    <button class="btn btn-primary btn-sm" (click)="searchDocument(1)" [disabled]="isLoading">
      <fa-icon icon="search"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.search">Search</span>
    </button>
    <span style="width: 5px"></span>
    <button class="btn btn-primary btn-sm" (click)="clearFormData()" [disabled]="isLoading">
      <span class="d-none d-md-inline" jhiTranslate="entity.action.clear">Clear</span>
    </button>
  </div>
</div>

<div id="page-body">
  <div *ngIf="isShowingFilters">
    <fa-icon icon="angle-down" (click)="showFilters()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.document.search">Search Document</span>
  </div>

  <div *ngIf="!isShowingFilters">
    <fa-icon icon="angle-right" (click)="showFilters()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.document.search">Search Document</span>
  </div>

  <div *ngIf="isShowingFilters" id="search-area">
    <form name="searchForm" role="form" novalidate [formGroup]="searchForm" autocomplete="off">
      <div class="form-group row col-12 dms-col">
        <div class="col-3">
          <label class="form-control-label" jhiTranslate="dmsApp.document.docTitle" for="field_docTitle">Document Template</label>
          <span class="text-danger">*</span>
        </div>
        <div class="col-4">
          <label class="form-control-label" jhiTranslate="dmsApp.document.specificMetaData" for="field_fieldValues"
            >Specific MetaData</label
          >
        </div>
        <div class="col-3">
          <label class="form-control-label" jhiTranslate="dmsApp.document.otherMetaData" for="field_fieldValues">Other MetaData</label>
        </div>

        <div class="col-2">
          <label class="form-control-label" jhiTranslate="dmsApp.document.createdDate" for="field_createdDate">Created Date</label>
        </div>
      </div>
      <div class="form-group row col-12 dms-col">
        <div class="col-3">
          <select
            (change)="onChangeDocumentTemplate($event)"
            class="form-control"
            id="field_metaDataHdrID"
            data-cy="metaDataHdrID"
            name="metaDataHdrID"
            formControlName="metaDataHdrID"
          >
            <option [value]="0">Select Document Template</option>
            <option [value]="metaData.id" *ngFor="let metaData of _metaDataHdrList; trackBy: trackMetaDataByID">
              {{ metaData.docTitle }}
            </option>
          </select>
          <div
            *ngIf="
              searchForm.get('metaDataHdrID')!.invalid &&
              (searchForm.get('metaDataHdrID')!.dirty || searchForm.get('metaDataHdrID')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="searchForm.get('metaDataHdrID')?.errors?.required || searchForm.get('metaDataHdrID')!.value === 0"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div class="col-4 row">
          <select
            (change)="onChangeMetaDataField($event)"
            class="form-control col-6"
            id="field_metaDataID"
            data-cy="metaDataID"
            name="metaDataID"
            formControlName="metaDataID"
          >
            <option [value]="0">Select Field Name</option>
            <option [value]="metaData.id" *ngFor="let metaData of _selectedMetaDataList">
              {{ metaData.fieldName }}
            </option>
          </select>
          <select
            *ngIf="isLOV"
            class="form-control col-6"
            id="field_fieldValues"
            data-cy="fieldValues"
            name="fieldValues"
            formControlName="fieldValues"
          >
            <option [value]=""></option>
            <option [value]="lovValue" *ngFor="let lovValue of _lovValues">
              {{ lovValue }}
            </option>
          </select>
          <input
            *ngIf="!isLOV"
            type="text"
            class="form-control col-6"
            name="fieldValues"
            id="field_fieldValues"
            data-cy="fieldValues"
            formControlName="fieldValues"
            placeholder="Enter Data"
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            name="generalValue"
            id="field_generalValue"
            data-cy="generalValue"
            formControlName="generalValue"
          />
        </div>
        <div class="col-2">
          <div class="input-group">
            <input
              class="form-control"
              id="field_createdDate"
              data-cy="createdDate"
              placeholder="DD-MM-YYYY"
              name="createdDate"
              formControlName="createdDate"
              ngbDatepicker
              #createdDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-primary btn-sm dms-icon-btn" id="createdDateButton" (click)="createdDate.toggle()" type="button">
                <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row col-12 dms-col">
        <div class="col-1">
          <label class="form-control-label" jhiTranslate="dmsApp.document.status" for="field_fieldValues">Status</label>
        </div>
        <div class="col-2">
          <select class="form-control" id="field_docStatus" data-cy="docStatus" name="docStatus" formControlName="docStatus">
            <option [value]="documentStatus.value" *ngFor="let documentStatus of _documentStatusList">
              {{ documentStatus.description }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isShowingResult" class="result-header">
    <fa-icon icon="angle-down" (click)="showResultArea()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.document.result">Search Result</span>
  </div>

  <div *ngIf="!isShowingResult" class="result-header">
    <fa-icon icon="angle-right" (click)="showResultArea()"></fa-icon>&nbsp;<span jhiTranslate="dmsApp.document.result">Search Result</span>
  </div>

  <div id="result-container" *ngIf="isShowingResult">
    <div class="alert alert-info" *ngIf="isShowingAlert">
      <a class="close" aria-label="close" (click)="closeAlert()">&times;</a>
      <span>{{ _alertMessage }}</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="_documentHeaders && _documentHeaders.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col">
              <span jhiTranslate="global.field.id">ID</span>
            </th>
            <th scope="col">
              <span jhiTranslate="dmsApp.document.docTitle">Document Title</span>
            </th>
            <th scope="col">
              <span jhiTranslate="dmsApp.document.status">Status</span>
            </th>
            <th scope="col" *ngIf="_metaData1.valid">
              <span>{{ _metaData1.name }}</span>
            </th>
            <th scope="col" *ngIf="_metaData2.valid">
              <span>{{ _metaData2.name }}</span>
            </th>
            <th scope="col" *ngIf="_metaData3.valid">
              <span>{{ _metaData3.name }}</span>
            </th>
            <th scope="col" *ngIf="_metaData4.valid">
              <span>{{ _metaData4.name }}</span>
            </th>
            <th scope="col" *ngIf="_metaData5.valid">
              <span>{{ _metaData5.name }}</span>
            </th>
            <th scope="col">
              <span jhiTranslate="dmsApp.document.createdDate">Created Date</span>
            </th>
            <th scope="col">
              <span jhiTranslate="dmsApp.document.createdBy">Created By</span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documentHeader of _documentHeaders; trackBy: trackDocumentHeaderById" data-cy="entityTable">
            <td>
              <a [routerLink]="['/document', documentHeader.id, 'view']"
                >{{ documentHeader.id }} {{ bindMetaDataValues(documentHeader.fieldValues) }}</a
              >
            </td>
            <td>{{ getDocTitleByID(documentHeader.metaDataHeaderId) }}</td>
            <td>{{ getDocStatusDesc(documentHeader.status) }}</td>
            <td *ngIf="_metaData1.valid">{{ _metaData1.value }}</td>
            <td *ngIf="_metaData2.valid">{{ _metaData2.value }}</td>
            <td *ngIf="_metaData3.valid">{{ _metaData3.value }}</td>
            <td *ngIf="_metaData4.valid">{{ _metaData4.value }}</td>
            <td *ngIf="_metaData5.valid">{{ _metaData5.value }}</td>
            <td>{{ documentHeader.createdDate ? documentHeader.createdDate.format('DD-MM-YYYY') : '-' }}</td>
            <td>{{ documentHeader.createdBy }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  *ngIf="_userAuthority && _userAuthority.activeMenu.isRead === 1"
                  type="submit"
                  [routerLink]="['/document', documentHeader.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  *ngIf="_userAuthority && _userAuthority.activeMenu.isWrite === 1"
                  type="submit"
                  [routerLink]="['/document', documentHeader.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="_documentHeaders && _documentHeaders.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        <span style="width: 30px">&nbsp;&nbsp;</span>
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
