<div class="d-flex justify-content-between margin-top-10">
  <div class="row">
    <h5 jhiTranslate="home.dashboard" style="margin-left: 16px">Dashboard</h5>
    <fa-icon class="btn btn-primary btn-refresh btn-sm" icon="sync" (click)="onRefresh()"></fa-icon>
  </div>
  <h5>{{ _departmentName }}</h5>
</div>

<div class="row form-group margin-top-10">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box border-right">
      <h6 jhiTranslate="home.calendar">Calendar</h6>
      <ngb-datepicker class="date-picker-style" (dateSelect)="onDateSelected($event)" outsideDays="hidden" #dp> </ngb-datepicker>

      <div class="meeting-card margin-top-30">
        <h4 class="meeting-header" jhiTranslate="home.meeting_title">Metting Invitation</h4>
        <div *ngFor="let data of _meetingList">
          <div class="meeting-body">
            <span
              ><h6>{{ data.subject }}</h6></span
            >
            <span><span jhiTranslate="home.meeting_date"></span>: {{ data.startDate ? data.startDate.format('DD-MM-YYYY') : '-' }}</span>
            <span
              ><span jhiTranslate="home.meeting_time"></span>: {{ data.startDate ? data.startDate.format('hh:mm A') : '-' }} -
              {{ data.endDate ? data.endDate.format('hh:mm A') : '-' }}</span
            >
            <span><span jhiTranslate="home.meeting_location"></span>: {{ data.place }}</span>
          </div>
        </div>
      </div>

      <div class="count-summary">
        <h6><span jhiTranslate="home.meeting_draft">Meeting Draft</span> - {{ _draftSummary?.meetingCount }}</h6>
        <h6><span jhiTranslate="home.document_draft">Document Draft</span> - {{ _draftSummary?.deliveryCount }}</h6>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 announcement-dashboard-box">
      <div class="box-header">
        <span jhiTranslate="home.dashboard_announcement_title">Announcement</span>
      </div>
      <div class="box-body">
        <ng-marquee speed="drowsy" class="marquee">
          <mark>{{ _announcementStr }}</mark>
        </ng-marquee>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box">
      <div class="box-header d-flex justify-content-between">
        <span jhiTranslate="home.dashboard_title1">Document Received</span>

        <select
          class="form-control col-lg-2 col-md-2 col-sm-6 col-xs-12"
          style="margin-top: 16px"
          id="field_status"
          name="status"
          [(ngModel)]="_lStatus"
          (change)="onStatusChange($event)"
        >
          <option value="0" jhiTranslate="home.status_unread">Unread</option>
          <option value="1" jhiTranslate="home.status_read">Read</option>
        </select>
      </div>

      <div class="box-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="bg-primary">
                <!-- jhiTranslate="dmsApp.department.subdepartment" -->
                <th style="width: 20%" jhiTranslate="home.document_no"><span>Document No.</span></th>
                <th style="width: 30%" jhiTranslate="home.subject"><span>Subject</span></th>
                <th style="width: 30%" jhiTranslate="home.department"><span>Department</span></th>
                <th style="width: 20%; text-align: center">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of _dashboardData1">
                <td>{{ data.referenceNo }}</td>
                <td>{{ data.subject ? (data.subject | truncateText: 30) : '' }}</td>
                <td>{{ data.sender?.departmentName }}</td>
                <td style="text-align: center">
                  <a href="#" jhiTranslate="home.view_details" [routerLink]="['/delivery', data.id, 'view']">View Details</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box-footer">
        <div *ngIf="_dashboardData1 && _dashboardData1.length > 0">
          <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page_1, totalItems: totalItems_1, itemsPerPage: itemsPerPage }"></jhi-item-count>
          </div>

          <div class="row justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems_1"
              [(page)]="ngbPaginationPage_1"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadDashboard1($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box">
      <div class="box-header">
        <span jhiTranslate="home.dashboard_title2">Document Sent</span>
      </div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="bg-primary">
                <th style="width: 20%" jhiTranslate="home.document_no"><span>Document No.</span></th>
                <th style="width: 60%" jhiTranslate="home.subject"><span>Subject</span></th>
                <th style="width: 20%; text-align: center">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of _dashboardData2">
                <td>{{ data.referenceNo }}</td>
                <td>{{ data.subject ? (data.subject | truncateText: 55) : '' }}</td>
                <td style="text-align: center">
                  <a href="#" jhiTranslate="home.view_details" [routerLink]="['/delivery', data.id, 'view-sent']">View Details</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer">
        <div *ngIf="_dashboardData2 && _dashboardData2.length > 0">
          <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page_2, totalItems: totalItems_2, itemsPerPage: itemsPerPage }"></jhi-item-count>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems_2"
              [(page)]="ngbPaginationPage_2"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadDashboard2($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
