<div class="d-flex justify-content-between margin-top-10">
  <h4>Dashboard</h4>
  <h5>ပြည်ထောင်စုလွှတ်တော် တရားရေးရုံးချုပ်</h5>
</div>
<div class="row form-group margin-top-30">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box border-right">
      <h6>Calendar</h6>
      <ngb-datepicker class="date-picker-style" [(ngModel)]="model" navigation="none" outsideDays="hidden"></ngb-datepicker>

      <div class="count-summary">
        <h6>ဖိတ်ကြားစာ မူကြမ်း - 2</h6>
        <h6>ထွက်စာ မူကြမ်း - 500</h6>
      </div>

      <div class="meeting-card margin-top-30">
        <h4 class="meeting-header">အစည်းအဝေးဖိတ်စာများ</h4>
        <div class="meeting-body">
          <span><h6>လုပ်ငန်းဆိုင်ရာ အစည်းအဝေး</h6></span>
          <span>ရက်စွဲ: 16-September-2023</span>
          <span>အချိန်: 10:00 AM - 11:30 AM</span>
          <span>နေရာ: အစည်းအဝေးခန်းမ</span>
        </div>

        <div class="meeting-body">
          <span><h6>အထွေထွေလုပ်ထုံးများဆိုင်ရာ အစည်းအဝေး</h6></span>
          <span>ရက်စွဲ: 16-September-2023</span>
          <span>အချိန်: 02:00 PM - 04:30 PM</span>
          <span>နေရာ: အစည်းအဝေးခန်းမ</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box">
      <div class="box-header">Document Received</div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="bg-primary">
                <!-- jhiTranslate="dmsApp.department.subdepartment" -->
                <th style="width: 20%"><span>Document No.</span></th>
                <th style="width: 30%"><span>Subject</span></th>
                <th style="width: 30%"><span>Department</span></th>
                <th style="width: 20%">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DC001</td>
                <td>အထွေထွေ လျှောက်လွှာတင်သွင်းခြင်း</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC002</td>
                <td>စာချွန်တော်များ</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC001</td>
                <td>အထွေထွေ လျှောက်လွှာတင်သွင်းခြင်း</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC002</td>
                <td>စာချွန်တော်များ</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td>ပြည်ထောင်စုတရားလွှတ်တော်ရုံးချုပ်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer">
        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-box">
      <div class="box-header">Document Received</div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="bg-primary">
                <!-- jhiTranslate="dmsApp.department.subdepartment" -->
                <th style="width: 20%"><span>Document No.</span></th>
                <th style="width: 30%"><span>Subject</span></th>
                <th style="width: 20%">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DC001</td>
                <td>အထွေထွေ လျှောက်လွှာတင်သွင်းခြင်း</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC002</td>
                <td>စာချွန်တော်များ</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC001</td>
                <td>အထွေထွေ လျှောက်လွှာတင်သွင်းခြင်း</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC002</td>
                <td>စာချွန်တော်များ</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC003</td>
                <td>ရာဇဝတ်မှုများ</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>

              <tr>
                <td>DC004</td>
                <td>ရုံးတွင်းကြေညာချက်</td>
                <td><a href="#">အသေးစိတ်ကြည့်ရှုရန်</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer">
        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
