<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-metadata-heading" data-cy="MetadataCreateUpdateHeading" jhiTranslate="dmsApp.metadata.home.createOrEditLabel">
        Create or edit a metadata
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        </div>

        <div class="form-group">
          <div class="form-group col-6">
            <label class="form-control-label" jhiTranslate="dmsApp.metadata.docTitle" for="field_docTitle">Document Title</label>
            <input type="text" class="form-control" name="docTitle" id="field_docTitle" data-cy="docTitle" formControlName="docTitle" />
          </div>
          <h4 style="margin-top: 50px; padding-left: 8px">Please Add Detail Fields</h4>
          <div class="form-group" style="padding: 8px !important; overflow-x: auto">
            <table class="table" formArrayName="fieldList">
              <thead>
                <tr>
                  <th class="text-center" style="width: 30%">Field Name</th>
                  <th class="text-center" style="width: 10%">Field Type</th>
                  <th class="text-center" style="width: 20%">Field Value</th>
                  <th class="text-center" style="width: 20%">Field Mandatory</th>
                  <th class="text-center" style="width: 10%">Field Order</th>
                  <th class="text-center" style="width: 10%">Add/ Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of fieldList().controls; last as isLast; let i = index" [formGroupName]="i">
                  <td>
                    <input type="text" class="col-12 form-control" placeholder="Field Name" formControlName="fieldName" />
                  </td>
                  <td>
                    <select class="form-control" name="fieldType" formControlName="fieldType" (change)="onFieldTypeChange(i)">
                      <option [value]="data.value" *ngFor="let data of fieldTyepList">{{ data.caption }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="col-12 form-control" placeholder="Field Value" formControlName="fieldValue" />
                  </td>

                  <td>
                    <select class="form-control" name="isRequired" formControlName="isRequired">
                      <option [value]="data.value" *ngFor="let data of mendatoryList">{{ data.caption }}</option>
                    </select>
                  </td>

                  <td>
                    <input type="number" class="col-12 form-control" placeholder="Field Order" formControlName="fieldOrder" />
                  </td>

                  <td style="padding: 3px">
                    <span title="Remove" (click)="removeField(i)">
                      <fa-icon icon="minus" class="fa-icon-theme text-danger"></fa-icon>
                    </span>
                    <span *ngIf="isLast" title="Add" (click)="addField()">
                      <fa-icon icon="plus" class="fa-icon-theme text-success"></fa-icon>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
