<div id="page-heading" class="row">
  <div class="col-8">
    <span>{{
      _activeMenuItem && _activeMenuItem.menuGroup.translateKey
        ? (_activeMenuItem.menuGroup.translateKey | translate)
        : _activeMenuItem?.menuGroup?.name
    }}</span>
    <span>
      >> {{ _activeMenuItem && _activeMenuItem.translateKey ? (_activeMenuItem.translateKey | translate) : _activeMenuItem?.name }}</span
    >
  </div>

  <div class="col-4 d-flex justify-content-end">
    <button
      *ngIf="_userAuthority && _userAuthority.activeMenu.isWrite === 1"
      type="button"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary btn-sm"
      (click)="save()"
    >
      <fa-icon icon="save"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.save">Save</span>
    </button>
    <span style="width: 5px"></span>
    <button type="button" id="cancel-save" class="btn btn-primary btn-sm" (click)="cancel()">
      <fa-icon icon="plus"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.new">New</span>
    </button>
  </div>
</div>

<div id="page-body" class="row">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" autocomplete="off">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="form-group" [hidden]="editForm.get('id')!.value == null">
      <div class="form-group col-6">
        <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-group col-6">
        <label class="form-control-label" for="field_docTitle"
          >{{ 'dmsApp.metaData.docTitle' | translate }}<span class="text-danger required-field">*</span></label
        >
        <input type="text" class="form-control" name="docTitle" id="field_docTitle" data-cy="docTitle" formControlName="docTitle" />
        <div *ngIf="editForm.get('docTitle')!.invalid && (editForm.get('docTitle')!.dirty || editForm.get('docTitle')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('docTitle')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('docTitle')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 100 }"
          >
            This field cannot be longer than 100 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group col-12">
        <label class="form-control-label" jhiTranslate="dmsApp.metaData.detailsField" for="field_docTitle">Please Add Detail Fields</label>
        <div class="tbl-container">
          <table class="table" formArrayName="fieldList">
            <thead>
              <tr>
                <th class="text-center bg-primary" style="width: 25%">
                  {{ 'dmsApp.metaData.fieldName' | translate }}<span class="required-field">*</span>
                </th>
                <th class="text-center bg-primary" style="width: 10%">
                  {{ 'dmsApp.metaData.fieldType' | translate }}<span class="required-field">*</span>
                </th>
                <th class="text-center bg-primary" style="width: 30%">
                  {{ 'dmsApp.metaData.fieldValue' | translate }}<span class="required-field">*</span>
                </th>
                <th class="text-center bg-primary" style="width: 10%">
                  {{ 'dmsApp.metaData.fieldMandatory' | translate }}<span class="required-field">*</span>
                </th>
                <th class="text-center bg-primary" style="width: 10%">
                  {{ 'dmsApp.metaData.fieldOrder' | translate }}<span class="required-field">*</span>
                </th>
                <th class="text-center bg-primary" style="width: 10%">{{ 'dmsApp.metaData.fieldAction' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of fieldList().controls; last as isLast; let i = index" [formGroupName]="i">
                <td>
                  <input type="text" class="col-12 form-control" placeholder="Field Name" formControlName="fieldName" />
                  <div
                    *ngIf="
                      fieldList().controls[i].get('fieldName')!.invalid &&
                      (fieldList().controls[i].get('fieldName')!.dirty || fieldList().controls[i].get('fieldName')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldName')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldName')?.errors?.pattern"
                      jhiTranslate="entity.validation.patternLetter"
                    >
                      This field can only contain letters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldName')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 50 }"
                    >
                      This field cannot be longer than 50 characters.
                    </small>
                  </div>
                </td>
                <td>
                  <select class="form-control" name="fieldType" formControlName="fieldType" (change)="onFieldTypeChange(i)">
                    <option [value]="data.value" *ngFor="let data of fieldTyepList">{{ data.caption }}</option>
                  </select>
                  <div
                    *ngIf="
                      fieldList().controls[i].get('fieldType')!.invalid &&
                      (fieldList().controls[i].get('fieldType')!.dirty || fieldList().controls[i].get('fieldType')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldType')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </td>

                <td>
                  <input
                    *ngIf="fieldList().controls[i].get('fieldType')?.value !== 'LOV'"
                    type="text"
                    class="col-12 form-control"
                    placeholder="Field Value"
                    formControlName="fieldValue"
                  />

                  <div
                    *ngIf="fieldList().controls[i].get('fieldType')?.value === 'LOV'"
                    class="input-group col-12"
                    style="padding: 0px !important"
                  >
                    <input
                      type="text"
                      readonly
                      placeholder="Field Value"
                      formControlName="fieldValue"
                      class="form-control input-sm"
                      style="background: white"
                      (click)="addLovValue(i)"
                    />
                    <div class="input-group-append">
                      <span class="input-sm input-btn-primary" (click)="addLovValue(i)">
                        <fa-icon icon="plus"></fa-icon>
                      </span>
                    </div>
                  </div>

                  <div
                    *ngIf="
                      fieldList().controls[i].get('fieldType')?.value === 'LOV' &&
                      fieldList().controls[i].get('fieldValue')!.invalid &&
                      (fieldList().controls[i].get('fieldValue')!.dirty || fieldList().controls[i].get('fieldValue')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldValue')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </td>

                <td>
                  <select class="form-control" name="isRequired" formControlName="isRequired">
                    <option [value]="data.value" *ngFor="let data of mendatoryList">{{ data.caption }}</option>
                  </select>

                  <div
                    *ngIf="
                      fieldList().controls[i].get('isRequired')!.invalid &&
                      (fieldList().controls[i].get('isRequired')!.dirty || fieldList().controls[i].get('isRequired')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('isRequired')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </td>

                <td>
                  <input type="number" class="col-12 form-control" readonly placeholder="Field Order" formControlName="fieldOrder" />
                  <div
                    *ngIf="
                      fieldList().controls[i].get('fieldOrder')!.invalid &&
                      (fieldList().controls[i].get('fieldOrder')!.dirty || fieldList().controls[i].get('fieldOrder')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="fieldList().controls[i].get('fieldOrder')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </td>

                <td>
                  <span title="Remove" (click)="removeField(i)">
                    <fa-icon icon="minus" class="fa-icon-theme text-danger"></fa-icon>
                  </span>
                  <span *ngIf="isLast" title="Add" (click)="addField()">
                    <fa-icon icon="plus" class="fa-icon-theme text-success"></fa-icon>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
