<div class="modal-header">
  <h4 class="modal-title">Reason</h4>

  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
  <form [formGroup]="editForm">
    <div class="row">
      <div class="col-2">
        <label for="reason">Reason</label>
      </div>
      <div class="col-2">
        <textarea name="reason" id="reason" cols="30" rows="5" formControlName="reason"></textarea>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button [disabled]="editForm.invalid" type="button" class="btn btn-primary btn-sm" (click)="confirm()">
      <fa-icon icon="check"></fa-icon>&nbsp;<span>Confirm</span>
    </button>
  </div>
</div>
