<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="codeDefinition">
      <h2 data-cy="codeDefinitionDetailsHeading"><span jhiTranslate="dmsApp.codeDefinition.detail.title">Code Definition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ codeDefinition.id }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.codeDefinition.type">Type</span></dt>
        <dd>
          <span>{{ codeDefinition.metaDataHeader?.docTitle }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.codeDefinition.code">Code</span></dt>
        <dd>
          <span>{{ codeDefinition.code }}</span>
        </dd>
        <dt><span jhiTranslate="dmsApp.codeDefinition.definition">Definition</span></dt>
        <dd>
          <span>{{ codeDefinition.definition }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/code-definition', codeDefinition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
