<div *ngIf="template.cardId === 'CARD001'">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body" style="background-color: #9fadc8 !important">
        <ul id="progressbar">
          <li class="active">Create MetaData</li>
          <li>Create Repository</li>
          <li>Document Mapping</li>
          <li>Document Inquiry</li>
          <li>Document Queue</li>
        </ul>

        <fieldset>
          <h2 class="fs-title">Create MetaData</h2>
          <p class="fs-body">Create MetaData Firstly.</p>

          <div style="margin-top: 100px">
            <button type="button" class="btn btn-primary btn-sm">
              <span class="d-none d-md-inline"> >> Next</span>
            </button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div *ngIf="template.cardId === 'CARD002' || template.cardId === 'CARD003'">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body">
        <div class="chart-body" id="{{ template.cardId }}"></div>
      </div>
      <div class="box-footer">Total - {{ totalCount }} Records</div>
    </div>
  </div>
</div>

<div *ngIf="template.cardId === 'CARD004'">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
          <div class="d-flex justify-content-end" style="margin-top: 8px">
            <div class="input-group col-md-4">
              <input
                class="form-control"
                id="field_fromDate"
                data-cy="fromDate"
                placeholder="DD-MM-YYYY"
                name="fromDate"
                formControlName="fromDate"
                ngbDatepicker
                #fromDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm dms-icon-btn" id="fromDateButton" (click)="fromDate.toggle()" type="button">
                  <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </div>

            <div class="input-group col-md-4">
              <input
                class="form-control"
                id="field_toDate"
                data-cy="toDate"
                placeholder="DD-MM-YYYY"
                name="toDate"
                formControlName="toDate"
                ngbDatepicker
                #toDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm dms-icon-btn" id="toDateButton" (click)="toDate.toggle()" type="button">
                  <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </div>

            <select
              (change)="onChangeDocumentTemplate()"
              class="form-control col-md-4"
              id="field_metaDataHdrID"
              data-cy="metaDataHdrID"
              name="metaDataHdrID"
              formControlName="metaDataHdrID"
            >
              <option [value]="0">Select Document Template</option>
              <option [value]="metaData.id" *ngFor="let metaData of _metaDataHdrList; trackBy: trackMetaDataByID">
                {{ metaData.docTitle }}
              </option>
            </select>
          </div>
        </form>
        <div class="chart-body" id="{{ template.cardId }}"></div>
      </div>
      <div class="box-footer"></div>
    </div>
  </div>
</div>

<div *ngIf="template.cardId === 'CARD005'">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
          <div class="d-flex justify-content-end">
            <select
              (change)="onChangeDocumentTemplate()"
              class="form-control col-md-4"
              id="field_metaDataHdrID"
              data-cy="metaDataHdrID"
              name="metaDataHdrID"
              formControlName="metaDataHdrID"
            >
              <option [value]="metaData.id" *ngFor="let metaData of _metaDataHdrList; trackBy: trackMetaDataByID">
                {{ metaData.docTitle }}
              </option>
            </select>
          </div>
        </form>
        <div class="chart-body" id="{{ template.cardId }}"></div>
      </div>
      <div class="box-footer">{{ getTotalRecordCount() }}</div>
    </div>
  </div>
</div>
