<div *ngIf="template.cardId === 'CARD001'" class="row">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body" style="background-color: #9fadc8 !important">
        <ul id="progressbar">
          <li class="active">Create MetaData</li>
          <li>Create Repository</li>
          <li>Document Mapping</li>
          <li>Document Inquiry</li>
          <li>Document Queue</li>
        </ul>

        <fieldset>
          <h2 class="fs-title">Create MetaData</h2>
          <p class="fs-body">Create MetaData Firstly.</p>

          <div style="margin-top: 100px">
            <button type="button" class="btn btn-primary btn-sm">
              <span class="d-none d-md-inline"> >> Next</span>
            </button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div *ngIf="template.cardId === 'CARD002'" class="row">
  <div class="col-md-12">
    <div class="dashboard-box">
      <div class="box-header bg-primary">{{ template.cardName }}</div>
      <div class="box-body">
        <div class="chart-body" id="{{ template.cardId }}"></div>
        <h4 style="padding: 8px">Total - 3000 Records</h4>
      </div>
    </div>
  </div>
</div>
