<div [ngClass]="modalHeaderClass">
  <div class="row col-12 dms-modal-row">
    <h4 class="modal-title">{{ infoTitle }}</h4>
  </div>
</div>

<div class="modal-body">
  <p>
    <span id="dms-info-code">{{ displayCode }}</span>
    <br />
    <span id="dms-info-message">{{ displayMessage }}</span>
  </p>
</div>

<div class="modal-footer justify-content-center">
  <button type="button" [ngClass]="modalButtonClass" data-dismiss="modal" (click)="dismiss()">
    <span jhiTranslate="entity.action.ok">OK</span>
  </button>
</div>
