.dms-modal-header {
  padding: 3px 3px;
}

.dms-modal-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.dms-modal-col {
  padding-left: 0px;
  padding-right: 0px;
}

#dms-info-message1 {
  font-weight: bold;
}

#dms-info-message2 {
  padding-left: 10px;
}
