<form *ngIf="repository" name="deleteForm" (ngSubmit)="confirmDelete(repository.id!)">
  <div class="modal-header bg-primary text-white">
    <div class="col-10 dms-modal-title">
      <span data-cy="repositoryDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</span>
    </div>
    <div class="col-2">
      <span class="close" style="cursor: pointer" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</span>
    </div>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-repository-heading" jhiTranslate="dmsApp.repository.delete.question">
      Are you sure you want to delete this repository?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-repository" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger btn-sm">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
